<html>
<head>
    <title>Paperless Forms Portal</title>
    <meta name="decorator" content="atl.general">
    $webResourceManager.requireResource("com.paperless.forms.paperless-forms-plugin:paperless-forms-plugin-resources")
</head>
<body class="aui-layout aui-theme-default">
    <div id="root"></div>
</body>
</html>
