.top-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    direction: rtl;
    width: 100%;
}

.top-row-right {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
